@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

/* preloader */
.preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99999999999999999999999;
  background-color: #fff;
  background-image: url('./1487.gif');
  background-repeat: no-repeat;
  background-position: center center;
  display: none;
}
.preloader_block {
  display: block;
}
/* burger */

.wrapper-menu {
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
  margin-left: 15px;
  display: none;
}

.wrapper-menu.open {
  transform: rotate(-45deg);  
}

.line-menu {
  background-color: #000;
  border-radius: 5px;
  width: 100%;
  height: 4px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}
 
body {
  background-color: #f5f5f5;
}
.header {
  width: 100%;
  min-height: 124px;
  display: flex;
  align-items: center;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.header_row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo_block {
  width: 100.49px;
  height: 36px;
}
.logo_block img {
  width: 100%;
}
.search_block {
  width: 57.5%;
}
.search_input {
  width: 100%;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #BFBFBF;  
  padding: 8px 32px;
}
.header_btn_block {
  display: flex;
  align-items: center;
}
.sign_btn {
  width: 97px;
  height: 40px;
  background: #1890FF;
  border-radius: 2px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-right: 9px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart_btn {
  width: 97px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  border-radius: 2px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #595959;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first_section {
  width: 100%;
  padding: 68px 70px;
  background: #FFF1B8;
  background-image: url('../src/section.png');
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 10px;
  margin-bottom: 56px;
}
.text_block {
  max-width: 538px;
}
.section_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 46px;
  color: #302C34;  
  margin-bottom: 15px;
}
.section_des {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #302C34;
}
.restaurants_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 49px;
}
.restaurants_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}
.restaurants_search {
  width: 306px;
  height: 34px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #BFBFBF;  
  padding: 5px 12px 5px 32px;
}
.restaurants_body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home_link {
  width: 32%;
}
.res_block {
  cursor: pointer;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 30px;
}
.res_img_block, .res_img_block img {
  width: 100%;
}
.res_img_block {
  margin-bottom: 20px;
}
.res_name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}
.rex_text_block {
  width: 100%;
  padding: 0 24px 34px 24px;
}
.res_name_block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.res_time_block {
  padding: 1px 8px;
  background: #262626;
  border-radius: 2px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;  
}
.star_des_block {
  display: flex;
  align-items: center;
}
.star_block {
  display: flex;
  align-items: center;
  margin-right: 26px;
}
.star_img_block {
  width: 14px;
  height: 14px;
  margin-right: 7.5px;
}
.star_img_block img {
  width: 100%;
}
.stars_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #FFC107;  
}
.res_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #8C8C8C;
}
.restaurants_block {
  margin-bottom: 60px;
}

.footer {
  width: 100%;
  background-color: #fff;
}
.footer_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 156px;
}
.footer_list {
  display: flex;
  align-items: center;
}
.footer_item {
  margin-right: 15px;
}
.last_item {
  margin-right: 0;
}
.footer_logo {
  margin-right: 35px;
}
.footer_link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #595959;
}
.footer_left {
  display: flex;
  align-items: center;
}
.footer_right {
  display: flex;
  align-items: center;
}
.instagram_img_block {
  width: 25px;
  height: 25px;
  margin-right: 26px;
}
.instagram_img_block img {
  width: 100%;
}
.vkantakte_img_block {
  width: 35px;
  height: 20px;
}
.vkantakte_img_block img {
  width: 100%;
}
.menu_body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.menu_block {
  width: 32%;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  margin-bottom: 30px;
}
.menu_img_block, .menu_img_block img {
  width: 100%;
}
.menu_img_block {
  overflow: hidden;
  margin-bottom: 24px;
}
.menu_img {
  transition: .5s;
}
.menu_block:hover .menu_img {
  transform: scale(1.1);
  cursor: pointer;
}
.menu_text_block {
  padding: 0 23px 30px 24px;
}
.menu_name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #000000;  
  margin-bottom: 10px;
}
.menu_des {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #8C8C8C;
  margin-bottom: 24px;
}
.price_block {
  display: flex;
  align-items: center;
}
.add_cart_btn {
  width: 124px;
  height: 40px;
  background: #1890FF;
  border-radius: 2px;
  color: white; 
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px; 
  margin-right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cart_icon {
  margin-left: 4px;
}
.price {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #000000;  
}
.menu_body {
  margin-bottom: 82px;
}
.cart_body {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.5s;
  display: none;
  z-index: 9999999999;
}
.cart_block {
  max-width: 780.73px;
  width: 100%;
  max-height: 552.76px;
  height: 100%;
  background: #FFFFFF;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.cart_min_block {
  width: 100%;
  height: 100%;
  padding: 40px 45px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
 
.cart_body_block::-webkit-scrollbar-button,
.cart_body_block::-webkit-scrollbar-button {
  display: none;
}
 
.cart_body_block::-webkit-scrollbar-track  {
  background-color: transparent;
}

.cart_body_block::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #ccc;
  border-radius: 100px;
  -webkit-border-radius: 1000px;
}

.cart_body_block::-webkit-scrollbar {
  width: 7px;
  margin-left: 5px;
  padding-left: 5px;
  background-color:transparent;
}

.cart_body_display {
  display: block;
}
.cart_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}
.cart_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}
.close_cart {
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: transparent;
}
.close_cart img {
  width: 100%;
}
.cart_body {
  width: 100%;
}
.cart_item {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
}
.item_name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #000000;  
}
.item_price {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #000000;  
  margin-right: 47.6px;
}
.quantity_block {
  display: flex;
  align-items: center;
}
.item_quantity {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;  
  margin: 0 13px;
}
.plus_btn {
  width: 39px;
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #40A9FF;
  box-sizing: border-box;
  border-radius: 2px;
  color: #40A9FF;
  cursor: pointer;
}
.cart_right {
  display: flex;
  align-items: center;
}
.cart_body_block {
  margin-bottom: 52px;
  width: 100%;
  height: 100%;
  max-height: 276.52px;
  overflow-y: auto;
  padding-right: 10px;
}
.cart_body_block .cart_item:first-child {
  padding-top: 0;
}
.all_price {
  background: #262626;
  border-radius: 5px;
  padding: 15px 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #FAFAFA;  
}
.cart_footer {
  display: flex;
  justify-content: space-between;
}
.login_row {
  width: 100%;
  max-height: 1060px;
  height: 100%;
}
.login_block {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url("../src/login_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

form i {
  margin-left: -30px;
  cursor: pointer;
}
.d_none {
  display: none;
}
.login_form {
  max-width: 400px;
  width: 100%;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.login_title {
  color: #fff;
  font-size: 50px;
  margin-bottom: 30px;
}
.login_inputs {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 35px;
}
.pass_input {
  padding-right: 35px;
}
.remember_block {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.remember_text {
  margin-left: 15px;
  cursor: pointer;
  font-size: 24px;
}
.checkbox {
  border: navajowhite;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.login_btn {
  padding: 10px 25px;
  font-size: 18px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}
.button_block {
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.forgot_pass {
  color: #fff;
  margin-bottom: 20px;
  font-size: 18px;
}
.forgot_block {
  margin-bottom: 20px;
}
.not_find_text {
  font-size: 18px;
  margin-bottom: 20px;
}
.surname_input {
  margin-bottom: 0;
}
.surname_input_block {
  margin-bottom: 35px;
}
.surnameis_required {
  margin-top: 15px;
}
.error_messege {
  font-size: 18px;
  margin-bottom: 15px;
  color: red;
}
.img {
  width: 100px;
  height: 100px;
}
.av_img {
  width: 30px;
  height: 30px;
}
.order_btn_block {
  display: flex;
  align-items: center;
}
.order_btn {
  padding: 8px 16px;
  background: #1890FF;
  border-radius: 2px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-right: 18px;
  cursor: pointer;
}
.cancel {
  padding: 8px 16px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
  cursor: pointer;
}
.delete_btn {
  width: 39px;
  height: 32px;
  background-color: transparent;
  margin-left: 5px;
  cursor: pointer;
  opacity: 0.5;
}
.delete_btn:hover {
  opacity: 1;
}
.empty_box {
  text-align: center;
  font-size: 22px;
}
.clear_value_btn {
  position: absolute;
  right: 5px;
  cursor: pointer;
  top: 5px;
  background: #fff;
  display: none;
}
.search_box {
  position: relative;
}
.btn_display {
  display: block;
}
.userIcon_block {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.userIcon_block img {
  width: 100%;
}
.nmae_block {
  overflow: hidden;
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 27px -6px #000000; 
  box-shadow: 0px 0px 27px -6px #000000;
  position: absolute;
  transition: 0.5s;
  width: 0;
  height: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.user_block {
  position: relative;
}
.userIcon_block:hover .nmae_block {
  padding: 10px;
  width: 200px;
  height: 100px;
}
.name_img_block {
  width: 35px;
  height: 35px;
}
.name_img_block img {
  width: 100%;
}
.name_text_block {
  min-height: 35px;
  display: flex;
  align-items: center;
}
.logout_btn {
  color: #000000;
  background-color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.user_btn_block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.mobile_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: -150%;
  transition: 0.3s ease-in-out;
}
.mobile_display {
  left: 0;
  padding: 48px 20px;
}
.notFound_block {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 9999999999;
  top: 0;
  left: 0;
  background-color: #fff;
}
.error_block {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.error_text {
  font-size: 200px;
  font-weight: 800;
  text-align: center;
}
.error_text_2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #000000;  
}
.error_text_span {
  background-color: #000;
  color: #fff;
  padding: 0 10px;
}
.error_btn {
  cursor: pointer;
  background-color: #000000;
  padding: 11px 21px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  border-radius: 5px;
  margin-top: 40px;
}
.account_name {
  margin-right: 3px;
}


@media only screen and (max-width: 915px) {
  .home_link {
    width: 49%;
  }
  .search_block {
    width: 47%;
  }
  .menu_block {
    width: 49%;
  }
  .first_section  {
    padding: 40px;
  }
  .cart_block {
    max-width: 600px;
    max-height: 480px;
  }
}
@media only screen and (max-width: 768px) {
  .wrapper-menu {
    display: flex;
    position: relative;
    z-index: 999999;
  }
  .footer_list {
    display: none;
  }
  .sign_btn {
    display: none;
  }
  .mobile_sign_btn {
    display: block;
  }
  .user_block {
    display: none;
  }
  .footer_list1 {
    margin-top: 50px;
    display: block;
    flex-direction: column;
  }
  .footer_link {
    font-size: 24px;
  }
  .footer_item {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .mobile_logo {
    width: 130px;
    height: 50px;
  }
  .mobile_userBlock {
    display: block;
  }
  .nmae_block {
    top: -63px;
    left: 40px;
  }
}
@media only screen and (max-width: 640px) {
  .home_link, .menu_block {
    width: 70%;
  }
  .restaurants_body, .menu_body  {
    justify-content: center;
  }
  .section_title {
    font-size: 25px;
  }
  .section_des {
    font-size: 18px;
  }
  .first_section {
    background-size: contain;
  }
  .cart_block {
    max-width: 400px;
    max-height: 600px;
  }
  .cart_right {
    width: 100%;
    justify-content: space-between;
  }
  .cart_item {
    flex-direction: column;
    align-items: flex-start;
  }
  .cart_footer, .order_btn_block {
    flex-direction: column;
  }
  .order_btn_block {
    align-items: flex-start;
  }
  .all_price {
    margin-bottom: 20px;
    display: inline-block;
    width: max-content;
  }
  .order_btn {
    margin-bottom: 20px;
  }
  .item_name {
    margin-bottom: 5px;
  }
}
.cart_btn_two {
  display: none;
}
.mobile_search_block {
  display: none;
  width: 85.5%;
}
@media only screen and (max-width: 560px) {
  .home_link, .menu_block {
    width: 100%;
  }
  .restaurants_search {
    width: 250px;
    padding-left: 15px;
    font-size: 14px;
  }
  .restaurants_title {
    font-size: 28px;
  }
  .restaurants_title {
    line-height: 30px;
  }
  .search_block {
    display: none;
  }
  .mobile_search_block {
    display: block;
  }
  .menu_body {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 480px) {
  .restaurants_header {
    flex-direction: column;
    align-items: flex-start;
  }
  .restaurants_title {
    margin-bottom: 25px;
  }
  .search_box {
    width: 100%;
  }
  .search_box input {
    width: 100%;
  }
  .login_form {
    max-width: 330px;
    padding: 0 10px;
  }
  .button_block {
    flex-direction: column;
    align-items: flex-start;
  }
  .login_btn {
    margin-bottom: 20px;
    font-size: 14px;
    padding: 8px 20px;
  }
  .login_title  {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .mobile_menu {
    width: 100vw;
  }
  .error_text {
    font-size: 140px;
    font-weight: 800px;
    margin-bottom: 10px;
  }
  .error_text_2 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 380px) {
  .cart_btn {
    display: none;
  }
  .cart_btn_two {
    width: 40px;
    height: 40px;
    display: block;
    display: flex;
    align-items: center;
  }
  .cart_btn_two img {
    width: 50%;
  }
  .restaurants_block {
    margin-bottom: 35px;
  }
  .section_title {
    font-size: 18px;
    line-height: 25px;
  }
  .section_des {
    font-size: 14px;
  }
  .first_section {
    padding: 20px;
    margin-bottom: 36px;
  }
  .menu_des {
    font-size: 16px;
  }
  .menu_name {
    font-size: 20px;
  }
  .menu_img_block {
    margin-bottom: 0;
  }
  .cart_block {
    max-width: 300px;
    max-height: 500px;
  }
  .cart_min_block {
    padding: 25px 30px;
  }
  .close_cart {
    width: 20px;
    height: 20px;
  }
  .cart_title {
    font-size: 25px;
  }
  .cart_body_block {
    margin-bottom: 10px;
  }
  .cart_header {
    margin-bottom: 10px;
  }
  .item_price {
    font-size: 17px;
    margin-right: 20px;
  }
  .item_quantity {
    margin: 0 10px;
  }
  .plus_btn {
    width: 30px;
    height: 25px;
  }
  .res_name {
    font-size: 22px;
  }
  .error_text_2 {
    font-size: 18px;
  }
  .error_btn {
    margin-top: 25px;
    font-size: 14px;
  }
  .login_form {
    max-width: 300px;
    position: static;
    transform: translate(0, 0);
  }
  .login_row {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}